header.bg-indigo-600.p-2
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-semibold.text-center Real   
            span.font-normal State

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white uppercase") 
            a(class="p-2" href="/propertys") My Propertys
            a(class="p-2" href="") My Profile
            a(class="bg-indigo-800 rounded-sm p-2 px-10" href="") Logout