header.bg-indigo-600.p-2
    .container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-2xl.text-white.font-semibold.text-center Real   
                span.font-normal State

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white uppercase") 
            a(class="p-2" href="/properties") My Properties
            form(action="/auth/logout" method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="submit" value="Logout" class="bg-indigo-800 rounded-sm p-2 px-10")